  img.logo {
   display:block;
   margin-left:auto;
   margin-right:auto;
   
  }
  @media all and (min-width: 991px) {  
          img.logo{
	    width: 35%;
	  }
   }
  @media all and (max-width: 768px) {  
         img.logo{
	    width: 40%;
	  }
   }
  @media all and (max-width: 480px) {  
	  img.logo{
	    width: 50%;
	  }
   }





