  img.logo {
   display:block;
   margin-left:auto;
   margin-right:auto;
   padding-top: 1.25rem;
  }
  hr {
   height: 4px;
   background-color: black;
   margin-bottom: 0;	  
  }
 /* all things involving cards */

.card-header {
   background-color: grey;
   height: 8rem;
   text-color: white;
   text-aling: center;
 }

.card-body {
  padding: 1.25rem 0;
}
 
img.logo{
	    width: 80%;
	  }
 
h1 {
    margin-left: 5%;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem;	
  }

 .card-footer{
 border:none;   
  background-color:inherit;
  padding-left: 0; 
}
.card {
  border:none;
  display :inline-block;
 	
  }

.ccard-group {
  width: 90%;
  margin-left:auto;
  margin-right:auto;	
}

#contactCard {
  width: 100%;
  height: 10rem;
}
 .javaScript {
    margin: 0 5% 11rem;
}
footer {
    text-align: center;
    background-color: black;
    height: 3rem;
     
}
footer>p {
    margin-bottom: 0;
    color: white;
    line-height: 3rem;
}
 /* all things involving forms */
form {
  padding-top: 2rem; 
  display: inline-block;
  text-align: left;		
  width: 35%;	
}


.formCard {
background-color: grey;
display: block;
text-align: center;
eight:32rem; 	
}
.formCard::after {
 content:"  ";
 display: table;
 clear: both;	
}
textarea {
width:100%;
height: 125px;
}
input
{
width: 100%;
}

label {
   vertical-align: bottom;
     line-height: 25px;
  margin-top: 10px;
  margin-bottom: 0;
}
.redM {
 color: red;
 font-size: 12px;
 float: right;
 vertical-align: bottom;
 line-height: 25px;
 
}

form>h2 {
text-align: center;
color: white;
padding-bottom: 1.5rem;	
}


@media (min-width: 575px) {  
	 img.logo{
	   width 65%;
	 }
   }
 @media (min-width: 768px) {  
         img.logo{
	    width: 45%;
	  }
	
  }

@media (min-width: 991px) {  
          img.logo{
	    width: 35%;
	  }
	
	#card3 {
	 padding-right: 0;
	}
	
	#card1 {
	 padding-left: 0;
	}
   }
 
 





